@model CategoryModel
@{
    ViewData["Title"] = "EditCategory";
}

<div class="container">
    <h3 class="display-10">Edit Category</h3>
    <hr />
    <form method="post" enctype="multipart/form-data" asp-action="SaveEditCategory" asp-controller="Category">
        <div class="row">
            <input type="hidden" asp-for="CategoryID" />
            <div class="form-group col-md-12">
                <label asp-for="CategoryName"></label>
                <input asp-for="CategoryName" value="@Model.CategoryName" class="form-control" />
            </div>
            <div class="col-md-12">
                <label asp-for="CatImage" class="form-label"></label>
                <input asp-for="CatImage" class="form-control"><img src="@Model.CategoryImage" width="100" />
            </div>
        </div><br />
        <div class="row">
            <div class="form-group col-md-6">
                <input type="submit" value="Save Category" class="btn btn-warning" />
            </div>
        </div>
    </form>
</div>

