@model ProductModel
@{
    ViewData["Title"] = "AddNewProduct";
}

<div class="container">
    <h3 class="display-4">Add new product</h3>
    <hr />
    @if (ViewBag.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations!</strong> You should added new product successfully.<br />
            Click <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@ViewBag.ProductId">here</a> to view the details
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form method="post" enctype="multipart/form-data" asp-action="AddNewProduct" asp-controller="Product" class="row g-3">
        <div class="col-md-6">
            <label asp-for="ProductName" class="form-label"></label>
            <input asp-for="ProductName" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="BrandName" class="form-label"></label>
            <input asp-for="BrandName" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="ProductCategoriesId" class="form-label"></label>
            <select asp-for="ProductCategoriesId" asp-items="ViewBag.Categories" id="inputState" class="form-select">
                <option value="">Please Choose Category</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="InStock" class="form-label"></label>
            @*<input asp-for="InStock" class="form-control">*@
            <select asp-for="InStock" id="inputState" class="form-select">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="col-md-12">
            <label asp-for="ProductDetails" class="form-label"></label>
            <textarea asp-for="ProductDetails" class="form-control"></textarea>
        </div>
        <div class="col-md-6">
            <label asp-for="Quantity" class="form-label"></label>
            <input asp-for="Quantity" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="ProductImage" class="form-label"></label>
            <input asp-for="ProductImage" class="form-control">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
    </form>
</div>
