@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "GetAllProducts";
}

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="display-4">GetAllProducts</h3>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="card mb-4 shadow-sm">
                        <img src="@item.Image" width="255" height="255" class="card-img-top" alt="..." asp-append-version="true" >
                        <div class="card-body">
                            <h6 class="card-title">@item.ProductName</h6>
                            <p class="card-text">@item.ProductDetails</p>
                            <a href="#" class="btn btn-primary">add to bag</a>
                            <a href="getproduct/@item.ProductID" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

